@use "variables" as *;
@mixin cta-btn($background-color) {
    background-color: $background-color;
    padding: clamp(1.5rem, 2vw, 2rem) clamp(0.5rem, 2vw, 2.5rem);
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    transition: 0.3s;
    font-size: clamp(1em, 2vw, 1.2em);
    &:hover {
        background-color: rgb(0, 46, 30);
    }
    @media screen and (max-width: 350px) {
        padding: clamp(1.5rem, 2vw, 1.5rem) clamp(1.5rem, 1vw, 2.5rem);
    }
}