@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Playwrite+GB+J:ital,wght@0,100..400;1,100..400&display=swap');
$lunch-btn-color: #D98C00;
$dinner-btn-color: #8C1F0F;
$book-btn-color: #B34100;
$primary-font: 'Manrope',
sans-serif;
$secondary-font: 'Playwrite GB J',
cursive;