// Variabler för färger och typsnitt inom webbplatsen, importerar typsnittet
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Playwrite+GB+J:ital,wght@0,100..400;1,100..400&display=swap');
$lunch-btn-color: #cb6804;
$dinner-btn-color: #8C1F0F;
$book-btn-color: #541f00;
$primary-font: 'Manrope',
sans-serif;
$secondary-font: 'Playwrite GB J',
cursive;
$news-font: Georgia,
'Times New Roman',
Times,
serif;