@use "../abstracts/variables" as *;
// Startsidan
#home-main {
    background-color: #F4FFF8;
}

// Informationsavsnittet om "Om oss"
.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    background-color: #f7f3e96e;
    border: 3px double #b8a27a;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.144);
    width: 50%;
    margin-bottom: 7em;
    padding: 2em;
    border-radius: 8px;
    h2 {
        text-align: center;
    }
    p {
        border-left: 3px solid rgb(215, 136, 16);
        max-width: 65ch;
        line-height: 1.4;
        padding: 1em;
    }
}

// Rubrik i varje artikel/sektion
h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

// div runt öppettiderna och hitta hit-sektionen
.info-sections {
    background-color: #f7f3e96e;
    width: 50%;
    margin: 3em auto;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.158);
}

// Öppettider
.opening-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    line-height: 1.3;
    margin-bottom: 2em;
    .opening-hours {
        padding: 1em;
    }
}

// Bild
.citrus-tree {
    display: block;
    max-width: 300px;
    width: 100%;
    margin: 2em auto;
}

// Herosektion med bild och text
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-bottom: 2em;
    .hero-text {
        position: absolute;
        inset: 0;
        top: 50%;
        z-index: 10;
        text-align: center;
        color: rgb(255, 255, 255);
        width: 70%;
        padding: 1em;
        font-weight: bold;
    }
    h1 {
        font-family: $secondary-font;
        background-color: #00000080;
        padding: 0.3em 0em;
        border-radius: 8px;
        width: 50%;
        font-size: clamp(1.5em, 4vw, 2.5em);
    }
    span {
        text-align: left;
    }
}

// För att texten ska synas bättre och ligga ovanför bilden
#hero-overlay {
    position: absolute;
    inset: 0;
    z-index: 2;
    overflow: hidden;
    object-fit: cover;
    background-color: #00000025;
}

// Bildcontainern
.hero-image {
    position: absolute;
    inset: 0;
    z-index: 1;
}

// Hero-bilden
.hero-image img {
    z-index: 5;
    display: block;
    height: 100%;
    opacity: 0.8;
    object-fit: cover;
    width: 100%;
    object-position: 0px 92%;
    animation: heroZoom 20s ease-in-out infinite alternate;
}

// Inaktiverar animationen
@media (prefers-reduced-motion: reduce) {
    .hero-image img {
        animation: none;
        transform: scale(1);
    }
}

// "Hitta hit" sektion med karta och adress till restaurangen
.location-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 2em;
    .location-info {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        gap: 5em;
        padding: 1em;
        line-height: 1.3;
        margin-bottom: 2em;
    }
    ul {
        max-width: 20ch;
    }
    iframe {
        width: 100%;
        max-width: 600px;
        height: 400px;
        border-radius: 8px;
        box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.144);
    }
}

@media screen and (max-width: 900px) {
    .about-section {
        width: 80%;
    }
    .info-sections {
        width: 80%;
    }
    .hero {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        .hero-text {
            top: 70%;
            width: 100%;
        }
    }
    h1 {
        width: 80%;
    }
    .hero-image img {
        object-position: 60% 92%;
    }
    .about-section {
        width: 100%;
        h2 {
            text-align: center;
        }
        p {
            border-left: 3px solid rgb(215, 136, 16);
            max-width: 65ch;
            line-height: 1.4;
            padding: 1em;
        }
    }
    .info-sections {
        width: 100%;
        border-radius: 0px;
    }
}

@media screen and (max-width: 475px) {
    .hero {
        .hero-text {
            width: 100%;
            margin: 0 auto;
        }
    }
    h1 {
        hyphens: auto;
        width: 50%;
    }
    .location-container {
        .location-info {
            gap: 2em;
            padding: 0.5em;
            line-height: 1.3;
        }
        ul {
            max-width: 25ch;
        }
        iframe {
            width: 100%;
        }
    }
}

@media screen and (max-width: 425px) {
    .about-section {
        width: 100%;
        padding: 1em;
        padding h2 {
            text-align: center;
        }
        p {
            border-left: 3px solid rgb(215, 136, 16);
            max-width: 65ch;
            line-height: 1.4;
            padding: 0.5em;
        }
    }
    .info-sections {
        width: 100%;
        padding: 1em 0.5em;
        border-radius: 0px;
    }
    .hero {
        .hero-text {
            top: 60%;
            text-align: center;
            width: 70%;
        }
        h1 {
            width: 100%;
        }
    }
}